@charset 'UTF-8';
// 1. Configuration and helpers // reusable
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';
// 2. Vendors
@import 'vendors/normalize';
// 3. Base stuff
@import 'base/base',
'base/fonts',
'base/typography',
'base/helpers';
// 4. Layout-related sections
@import 'layout/header',
'layout/sidebar',
'layout/navigation',
'layout/footer';
// 5. Components
@import 'components/button';
// 6. Page-specific styles
@import 'pages/home';
@import 'pages/blog';
@import 'pages/work-detail';
@import 'pages/work';