@mixin responsive ($breakpoint) {
    @if $breakpoint==b-tablet {
        @media screen and (max-width: 800px) {
            @content
        }
    }
    ;
    @if $breakpoint==tablet {
        @media screen and (max-width: 768px) {
            @content
        }
    }
    ;
    @if $breakpoint==m-tablet {
        @media screen and(max-width: 678px) {
            @content
        }
    }
    ;
    @if $breakpoint==phone {
        @media screen and (max-width: 375px) {
            @content
        }
    }
    ;
}