$color-primary: #FF6464;
$color-secondary: #00A8CC;
$color-dark: #21243D;
$color-gray: #8695A4;
// bg
$color-bg: #ffffff;
$color-bg-section: #EDF7FA;
$color-time-1:#142850;
$color-time-2: $color-primary;
// size
$container: 895px;
$container_header: 1070px;
$container_mini: 700px;
// fonts
$heebo: "Heebo",
"Arial",
sans-serif;